.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    background-color: #F8F0E5;
}

.footerIcons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footerIcons p {
    margin: 0;

}