.allBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.allBox .box {
    height: 250px;
    width: 25%;
    margin: 10px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;

}

.box h1 {
    font-size: 70px;
    margin: 0;
}

.box p {
    text-transform: capitalize;
    word-break: break-all;
    margin: 0;
}

.box .bottom p:nth-child(1) {
    font-size: 40px;
    color: #F86F03;
}

.box .bottom p:nth-child(2) {
    height: 85px;
    margin-top: 15px;
}